[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
altgraph = "*"
appdirs = "*"
autopep8 = "*"
beautifulsoup4 = "*"
bottle = "*"
bottle-websocket = "*"
cachecontrol = "*"
certifi = "*"
chardet = "*"
click = "*"
colorama = "*"
contextlib2 = "*"
deep-translator = "*"
distlib = "*"
distro = "*"
future = "*"
gevent = "*"
gevent-websocket = "*"
greenlet = "*"
gunicorn = "*"
html5lib = "*"
idna = "*"
ipaddr = "*"
itsdangerous = "*"
lockfile = "*"
msgpack = "*"
pep517 = "*"
progress = "*"
pycodestyle = "*"
pyparsing = "*"
pymongo= "*"
pytoml = "*"
requests = "*"
retrying = "*"
six = "*"
soupsieve = "*"
toml = "*"
urllib3 = "*"
webencodings = "*"
whichcraft = "*"
"zope.event" = "*"
"zope.interface" = "*"
Eel = "*"
Flask = "*"
Jinja2 = "*"
MarkupSafe = "*"
Werkzeug = "*"
dnspython = "*"

[dev-packages]

[requires]
python_version = "3.10"
